{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="YTF-8">
        <meta name="viewport" contect="width=device-width, initial-scale=1.0">
        <title>JIIT-Student Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="https://fontawesome.com/icons/github?style=brands" rel="stylesheet"> -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{%  static "css/main.css"  %}">
        <!-- <link rel="stylesheet" href="style.css"> -->
        <link href="//db.onlinewebfonts.com/c/05289e866fe7e1e99d27a7a31f8d3b66?family=Trattatello" rel="stylesheet" type="text/css"/> 
        <link rel="icon" href="{% static 'images/logo.png'%}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/76b59c3605.js" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <div class="main-page page parallax">
            <nav class="nav">
                <div class="nav-header">
                    <img src="{% static 'images/logo.png' %}" class="logo" alt="logo">
                    <button class="mobile-nav">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                           <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                         </svg>
                   </button>
                </div>
                <ul class="nav-button ">
                    <li ><a class="links" href="#student_club">Student-clubs</a></li>
                    <li ><a class="links" href="#alumni">Alumni </a></li>
                    <li ><a class="links" href="store/store">Store</a></li>
                    <li ><a class="links" href="aboutus">About-us</a> </li>
                    <li ><a class="links" href="https://forms.gle/Fj9q8Qx2gT7R5V9m7" target="blank">Feed-Back</a> </li>
                </ul>
                
            </nav>
            <div class="maintext center">Be the change!</div>
            
        </div>
        <div class="page2 ">
            <div class="page2-cont center">
            <h1 class="center">Student Website</h1>
            <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas maxime amet labore itaque nobis dolor. Sed, minus. Unde nam vel non deserunt. Excepturi, dolore ex accusantium ipsum nemo aliquam? Consectetur.</p>
            <!-- <button class="center btn">Join Clubs</button> -->
            </div>
        </div>
        <div class="parallax page3">
            <h1 class="center" id="student_club">Student Clubs</h1>
        </div>
        <div class="page2" style="background-color: #282e34">
            <div class="page2-cont center">
            <h1 class="center" style="color: whitesmoke;">Join Student Club</h1>
            <p class="center" style="color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas maxime amet labore itaque nobis dolor. Sed, minus. Unde nam vel non deserunt. Excepturi, dolore ex accusantium ipsum nemo aliquam? Consectetur.</p>
            <a class="center btn" style="color: whitesmoke;" href="club">Join Clubs</a>
            </div>
        </div>
        <div class="parallax page4">
            <h1 class="center" id="alumni">Allumni network</h1>
        </div>
        <div class="page2" style="background-color: #282e34">
            <div class="page2-cont center">
            <h1 class="center" style="color: whitesmoke;">Connect with allumni</h1>
            <p class="center" style="color: whitesmoke;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas maxime amet labore itaque nobis dolor. Sed, minus. Unde nam vel non deserunt. Excepturi, dolore ex accusantium ipsum nemo aliquam? Consectetur.</p>
            <a class="center btn" style="color: whitesmoke;" href="alumni/alumni_page">Connect</a>
            </div>
        </div>
        <script src="{% static 'js/app.js' %}"></script>
    </body>
    </html>